body {
  font-size: 16px;
}

#navbar {
  background-color: black;
  height: 10vw;
  text-align: center;
}

#navbar-title {
  color: white;
  font-size: 300%;
  margin: 2% auto;
}

#post-input {
  height: 45px;
  width: 33vw;
}

#post-input-form {
  margin-top: 10px;
  text-align: center;
}

#post-input {
  margin-right: 10px;
}

#post-btn {

}

#input-btn-wrapper {
  background-color: red;
}

.post {
  margin: 10px 25vw; 
}

.display-posts {
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
}

#delete-btn {

}
