body {
  font-size: 16px;
  background-color: #D0D0D0;
}

#navbar {
  background-color: white;
  /*background-color: black;*/
  height: 8vw;
  text-align: center;
}

#navbar-title {
  color: red;
  font-size: 300%;
  font-family: 'Archivo Black', sans-serif;
  margin: 2% auto;
}

#post-input {
  height: 40px;
  width: 33vw;
}

#post-input-form {
  margin-top: 10px;
  text-align: center;
}

#post-input {
  margin-right: 10px;
}

#input-btn-wrapper {
  background-color: red;
}

.post {
  background-color: white;
  height: 30vw;
  padding: 5px 15px;
  margin: 50px 25vw;
}

.post-image {
  height: 75%;
  width: 100%;
  background-color: red;
}

.img-url {
  height: 90%;
  width: 75%;
  margin: 2%;
}

.delete-edit-wrapper {

}

#delete-wrapper {
 right: -20px;
}

.display-posts {
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
}
